body {
  background-color: var(--Pale-blue);
  height: 100vh;
}

.main {
  max-width: 26.375rem;
  margin: 0 auto;
  background-color: var(--White);
  border-radius: 0 0 1rem 1rem;
}

.result {
  align-items: center;
  background: linear-gradient(
    180deg,
    var(--Light-slate-blue-background),
    var(--Light-royal-blue-background)
  );
  border-radius: 0rem 0rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  padding: 1.875rem 3.8rem 2.813rem;
}

.result__title {
  color: var(--Light-lavender);
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 1.875rem;
}

.result__circle {
  align-items: center;
  background: linear-gradient(
    180deg,
    var(--Violet-blue-circle),
    var(--Persian-blue-circle)
  );
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  height: 8.75rem;
  justify-content: center;
  margin-bottom: 1.875rem;
  width: 8.75rem;
}

.result__circle__number {
  color: var(--White);
  font-size: 2.5rem;
  font-weight: 800;
}

.result__circle__info {
  color: var(--Light-lavender);
  font-weight: 500;
}

.result__great {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.result__great__title {
  color: var(--White);
  font-weight: 700;
  text-align: center;
}

.result__great__paragraph {
  color: var(--Light-lavender);
  font-size: 14px;
  text-align: center;
}

.summary {
  padding: 1.875rem;
}

.summary__title {
  font-size: 1rem;
  color: var(--Dark-gray-blue);
  margin-bottom: 1.5rem;
  font-weight: 700;
}

.summary__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.summary__container__item {
  height: 56px;
  border-radius: 0.625rem;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.item-red {
  background: hsl(0, 100%, 67%, 0.1);
  color: var(--Light-red);
}

.item-yellow {
  background: hsl(39, 100%, 56%, 0.1);
  color: var(--Orangey-yellow);
}

.item-green {
  background: hsl(166, 100%, 37%, 0.1);
  color: var(--Green-teal);
}

.item-blue {
  background: hsl(234, 85%, 45%, 0.1);
  color: var(--Cobalt-blue);
}

.item__content {
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.item__content__text {
  font-weight: 500;
}

.item__content__number {
  color: var(--Dark-gray-blue);
  font-weight: 800;
}

.item__content__number-color {
  color: hsl(224, 30%, 27%, 0.5);
}

button {
  width: 100%;
  height: 56px;
  border-radius: 2rem;
  border: unset;
  background-color: var(--Dark-gray-blue);
  color: var(--White);
  font-weight: 800;
  cursor: pointer;
  transition: background 2s ease-out;
}

button:hover {
  background: linear-gradient(
    180deg,
    var(--Light-slate-blue-background),
    var(--Light-royal-blue-background)
  );
  transition: background-color 2s ease;
}

.attribution {
  padding: 1rem 0;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main {
    max-width: 46rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 1rem;
    box-shadow: 4px 26px 49px 0px rgba(0, 0, 0, 0.3);
  }

  .result {
    border-radius: 1rem;
  }

  .result__title {
    font-size: 1.5rem;
  }

  .result__circle {
    height: 12.5rem;
    width: 12.5rem;
  }

  .result__circle__number {
    font-size: 5rem;
  }

  .result__great__title {
    font-size: 2rem;
  }

  .result__great__paragraph {
    font-size: 1.125rem;
  }

  .summary__title {
    font-size: 1.5rem;
  }

  .summary__container {
    margin-bottom: 2.8rem;
  }

  button {
    font-size: 1.125rem;
  }
}
